<div class="container " style="width: 90%;">
    <div class="row">
        <div class="col s12 m4">
            {{> tasks/taskForm}}
        </div>
        <div class="col s12 m8">
            {{> tasks/taskTable}}
        </div>
    </div>
</div>